.Join {
  height: 100vh;
  background-color: #101010;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;

  > img {
    width: 350px;
    margin-top: 45px;
  }
  > h1 {
    color: rgb(58, 104, 242);
    font-style: italic;
    padding-bottom: 20px;
    font-size: 55px;
    font-weight: normal;
    font-family: sans-serif;
    border-bottom: 1px solid rgb(58, 104, 242);
  }
  .details-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 240px;

    h1 {
      color: #fff;
      font-size: 50px;
      padding-top: 20px;
    }

    input,
    button {
      padding: 8px;
      font: 15px;
      outline: none;
      font-weight: bold;
    }
    input {
      width: 250px;
    }
    button {
      cursor: pointer;
      background-color: #3968f2;
      color: #fff;
      outline: none;
      border: none;
    }
    margin-bottom: 20px;
  }
  .error-message {
    color: #ff0000;
  }
}
