.Join {
  height: 100vh;
  background-color: #101010;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .details-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 240px;

    h1 {
      color: #fff;
      font-size: 70px;
    }

    input,
    button {
      padding: 8px;
      font: 15px;
      outline: none;
      font-weight: bold;
    }
    input {
      width: 250px;
    }
    button {
      cursor: pointer;
      background-color: #3968f2;
      color: #fff;
      outline: none;
      border: none;
    }
    margin-bottom: 20px;
  }
  .error-message {
    color: #ff0000;
  }
}
