.Message {
  margin-bottom: 10px;
  display: flex;

  align-items: center;
  justify-content: flex-end;

  .text {
    background-color: rgb(63, 63, 238);
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    max-width: 70%;
    margin-left: 5px;
  }

  .userName {
    color: #828282;
    max-width: 30%;
  }
}

.justify-start {
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  .text {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 20px;
    max-width: 70%;
    color: #000;
  }

  .userName {
    color: #828282;
    order: 1;
    margin-left: 5px;
  }
}
